/* Copied minimal styles from theme to satisfy swizzle override */

@media (max-width: 996px) {
  .colorModeToggle {
    display: none;
  }
}

:global(.navbar__items--right) > :last-child {
  padding-right: 0;
}
